In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 
df=pd.read_csv("/workspaces/flask-render-integration_RH/data/raw/SVMtrain(1).csv")

In [9]:
df

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3    0  22.0      1      0   7.2500         3
1              2         1       1    1  38.0      1      0  71.2833         1
2              3         1       3    1  26.0      0      0   7.9250         3
3              4         1       1    1  35.0      1      0  53.1000         3
4              5         0       3    0  35.0      0      0   8.0500         3
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
884          887         0       2    0  27.0      0      0  13.0000         3
885          888         1       1    1  19.0      0      0  30.0000         3
886          889         0       3    1  60.0      1      2  23.4500         3
887          890         1       1    0  26.0      0      0  30.0000         1
888          891         0       3    0  32.0      0      0   7.7500         2

[889 rows x 9 columns]

In [8]:
df["Sex"],uniques=pd.factorize(df["Sex"])

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
X=df.drop(columns=["PassengerId","Survived"],axis=1)
y=df["Survived"]

X_train,X_test,y_train,y_test= train_test_split(X,y,random_state=42,test_size=0.2)
model=RandomForestClassifier()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7640449438202247

In [18]:

import pickle
with open("/workspaces/flask-render-integration_RH/models/modelo_titanic.pkl", "wb") as f:
    pickle.dump(model, f)